<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Scheduler.Properties.Settings.SchedulerDBConnectionString" connectionString="Data Source=RBM-PC1\RBM;Initial Catalog=NewGreggDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Scheduler.Properties.Settings.SchedulerDBConnectionString1" connectionString="Data Source=RBM-PC\RBM;Initial Catalog=NewGreggDB;Persist Security Info=True;User ID=sa;Password=welcome" providerName="System.Data.SqlClient" />
 </connectionStrings>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
